.waldo__field {
  &-input, &-label {
    display: inline-block;
  }
}

.waldo__field--checkbox {
  @extend .waldo__field !optional;
}

.waldo__fulltext {
  position: relative;
  .waldo__filter-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
  }

  input {
    width: 100%;
  }
}

.waldo__filter-icon {
  background: image-url('waldo-rails/filter.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.waldo__advanced-search {
  display: none;
}
